.home {
    background: var(--bg-color);
}

.home__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home__left {
    width: 65%;
}

.home__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.home__title-box {
    display: flex;
    gap: 12px;
}

.home__title {
    font-size: 52px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--text-color);
}

.home__title-span {
    font-size: 52px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
}

/* .home__title span {
    color: var(--main-color);
} */

.home__text-animate {
    position: relative;
    max-width: 32.8rem;
}

.home__subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 0.7px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

.home__subtitle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}

.home__text {
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 12px;
}

.home__btn-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.home__btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 160px;
    height: 36px;
    padding: 8px 24px;
    background: var(--main-color);
    border: 1.5px solid var(--main-color);
    border-radius: 8px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.home__btn:hover {
    color: var(--main-color);
}

.home__btn:nth-child(1) {
    background: transparent;
    color: var(--main-color);
}

.home__btn:nth-child(1):hover {
    color: var(--bg-color);
}

.home__btn:nth-child(1)::before {
    background: var(--main-color);
}

.home__btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: 0.5s;
}

.home__btn:hover::before {
    width: 100%;
}

.home__btn:hover {
    color: var(--main-color);
}

.home__btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: 0.5s;
}

.home__btn:hover::before {
    width: 100%;
}

.home__sci {
    margin-top: 24px;
    display: flex;
    gap: 12px;
}

.home__sci-link {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: transparent;
    border: 1.5px solid var(--main-color);
    font-size: 28px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.home__sci-link:hover {
    color: var(--bg-color);
}

.home__sci-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: 0.5s;
}

.home__sci-link:hover::before {
    width: 100%;
}

.home__right {
    width: 35%;
}

@keyframes homeBgText {

    0%,
    10%,
    100% {
        background-position: -33rem 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText {

    0%,
    10%,
    100% {
        width: 0;
    }

    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    81% {
        opacity: 0;
    }
}

@media (max-width: 1240px) {

    .home__left {
        width: 65%;
    }

    .home__right {
        width: 35%;
    }

    .home__title {
        font-size: 40px;
    }

    .home__title-span {
        font-size: 40px;
    }

    .home__subtitle {
        font-size: 24px;
    }

    .home__text {
        font-size: 12px;
    }

}

@media (max-width: 940px) {

    .home__left {
        width: 50%;
    }

    .home__right {
        width: 50%;
    }

    .home__title-box {
        flex-direction: column;
        gap: 4px;
    }

}

@media (max-width: 768px) {

    .home__left {
        width: 100%;
    }

    .home__right {
        display: none;
    }

}

@media (max-width: 360px) {

    .home__title {
        font-size: 36px;
    }

    .home__title-span {
        font-size: 36px;
    }

    .home__subtitle {
        font-size: 20px;
    }

}