.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__content {
    position: relative;
    max-width: 600px;
    border: 2px solid var(--main-color);
    border-radius: 8px;
    background: var(--bg-color);
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.23);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: var(--main-color);
    transition: 0.5s;
}

.modal__close-btn:hover {
    color: var(--text-color);
    transform: scale(1.2);
}

.modal__title {
    font-size: 20px;
    font-weight: 700;
    color: var(--text-color);
    text-align: center;
    padding: 0 40px;
}

.modal__img {
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.23);
}

.modal__skills {
    font-size: 12px;
    font-weight: 500;
    color: var(--text-color);
}

.modal__btn-box {
    display: flex;
    gap: 20px;
}

.modal__btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 8px;
    padding: 8px 24px;
    background: var(--main-color);
    border: 1.5px solid var(--main-color);
    border-radius: 8px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.modal__btn:hover {
    color: var(--main-color);
}

.modal__btn:nth-child(1) {
    background: transparent;
    color: var(--main-color);
}

.modal__btn:nth-child(1):hover {
    color: var(--bg-color);
}

.modal__btn:nth-child(1)::before {
    background: var(--main-color);
}

.modal__btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: 0.5s;
}

.modal__btn:hover::before {
    width: 100%;
}

.modal__btn:hover {
    color: var(--main-color);
}

.modal__btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: 0.5s;
}

.modal__btn:hover::before {
    width: 100%;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

@media (max-width: 768px) {

    .modal__content {
        padding: 10px;
    }

    .modal__close-btn {
        top: 10px;
        right: 10px;
    }

    .modal__close-btn:hover {
        transform: scale(1.1);
    }

}

@media (max-width: 550px) {

    .modal__title {
        font-size: 16px;
    }

}

@media (max-width: 430px) {

    .modal__btn-box {
        flex-direction: column;
    }

    .modal__btn {
        width: 100%;
    }

}