.project {
    min-height: 100vh;
    padding: 72px 40px 20px 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project__title {
    text-align: center;
    margin-bottom: 16px;
}

.project__slider {
    position: relative;
    width: 100%;
    height: 470px;
    overflow: hidden;
}

.project__item {
    position: absolute;
    width: 300px;
    height: 450px;
    border-radius: 12px;
    transition: 0.5s;
    overflow: hidden;
    left: calc(50% - 150px);
    top: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
}

.project__item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(17, 46, 66, 0.633) 32%, rgba(255, 255, 255, 0) 68%);
}

.project__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project__text {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: 700;
    opacity: 0.3;
    letter-spacing: 5px;
    color: var(--main-color);
    z-index: 10;
}

.project__text::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -3px;
    width: 100%;
    height: 3px;
    border: 2px;
    background: var(--main-color);
}

.project__text::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: -3px;
    width: 100%;
    height: 3px;
    border: 2px;
    background: var(--main-color);
}

.project__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: var(--main-color);
    font-size: xxx-large;
    font-family: monospace;
    font-weight: 700;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: 0.5s;
    z-index: 10;
}

.project__btn:hover {
    color: var(--text-color);
    box-shadow: none;
}

.btn-next {
    right: 0;
}

.btn-prev {
    left: 0;
}

@media (max-width: 768px) {

    .project {
        padding: 72px 20px 20px 20px;
    }

}