.project {
    /* background: var(--bg-color); */
    padding: 72px 40px 20px 40px;
    display: flex;
    flex-direction: column;
    max-width: 1520px;
    margin: 0 auto;
    min-width: 0;
}

.project__title {
    text-align: center;
    margin-bottom: 16px;
}

.project__wrapper {
    position: relative;
    /* max-width: 1200px; */
}

.project__wrapper i {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 32px;
    line-height: 40px;
    color: var(--main-color);
    text-align: center;
    /* border: 2px solid var(--main-color); */
    background: var(--text-color);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

.project__wrapper i:first-child {
    left: -20px;
}

.project__wrapper i:last-child {
    right: -20px;
}

.project__carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 8px);
    gap: 12px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.project__carousel.no-transition {
    scroll-behavior: auto;
}

.project__carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.project__carousel::-webkit-scrollbar {
    display: none;
}

.project__carousel.dragging .project__card {
    cursor: grab;
    user-select: none;
}

.project__card {
    scroll-snap-align: start;
    /* height: 340px; */
    width: auto;
    border-radius: 8px;
    overflow: hidden;
}

.project__img {
    height: 340px;
}

.project__img img {
    height: 100%;
    /* width: 100%; */
    object-fit: cover;
}

@media (max-width: 900px) {

    .project__carousel {
        grid-auto-columns: calc((100% / 2) - 6px);
    }

}

@media (max-width: 600px) {

    .project__carousel {
        grid-auto-columns: 100%;
    }

}